<h1>New restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <br>
        <%= f.input :address %>
        <br>
        <%= f.input :phone_number %>
        <br>
        <%= f.input :category, collection: Restaurant::CATEGORIES %>
        <br>
        <%= f.submit class: 'btn btn-primary' %>
<% end %>
